html{
    scroll-behavior: smooth;
}

html,body{
    width: 100%;
    height:100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    display: block;
    background-color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.b1{
    width: 100%;
    height: 87%;
    margin: 0px;
    padding: 0px;
    background-image: url(image/p1.jpg);
    background-size:100%;
    background-attachment: scroll;
    background-repeat: no-repeat;
    display: block;

    .topbar{
       margin: 0px;
       background-color:rgb(255, 255, 255,0.5);
       width: 100%;
       height: 14%;
       display: flex;
       justify-content:flex-end;
       align-items: center;
       }

    }

.topicon{
    margin-right: 15%;
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    img{
          width: 75px;
          height: 80px;
          transform: rotate(25deg);
    }

    font-size: 190%;
    font-family: cursive;
    font-weight: 900;
    color: orangered;
}

.topnav{
    margin: 0px;
    width: 30%;
    height: 100%;
    background-color:transparent;
    font-size: 100%;

    ul{
        list-style-type: none;
        margin: 0px;
        padding: 0px;
        display: flex;
        justify-content: center;
        align-items: center;

        a{
            text-decoration: none;
            margin: 5%;
            color: rgb(255, 255, 255);
            text-align: center;
            border-radius: 20px;
            font-size: 120%;
            padding-right: 8%; padding-left: 8%; padding-top: 2%; padding-bottom: 2%;
            background-color: rgb(255, 111, 0);
        }

      a:hover{
            font-size: 130%;
            background-color: orangered;
            color: rgb(0, 0, 0);
        }
    }

}

.mu{

    width: 70px;
    height: 65px;
    position: absolute;
    top:1.5%;
    left: 1%;
    position: fixed;
    background-color: rgb(255, 111, 0);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;

    img{
        width: 60%;
        height: 67%;
        z-index: 10;
        
    }
}

.mu:hover{
    background-color: orangered;
     }


.sidebar{
    margin:0px;
    float: left;
    width: 35%;
    height:65%;
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    top: 14%;
    left: 1%;
    z-index: 2;
    border-radius: 5px;
    display: none;
    position: fixed;

    h2{
        text-align: center;
        color: rgb(255, 98, 0);
        font-family: cursive;
        font-size: 200%;
        font-weight: bolder;
    }

    button{
        background-color: transparent;  
        border: 0px; 
        float: right;
         
        img{
             width:25px;
             height:25px;
             float: inline-end;
            margin:2%;
        }
    }
}

.sidebar div{
      width: 100%;
        height: 20%;
        margin-top: 0px;
        margin-bottom: 5%;
        margin-right: 0px;
        margin-left: 0px;
        padding: 0px;
        display: flex;
        justify-content:center;
        align-items: center;
        background-color: rgba(247, 107, 0);
        color: rgb(255, 255, 255);
        font-size: 120%;
        font-weight: bold;
      

        img{
            width: 13%;
            height: 48%;
            margin-right: 8%;
        }
}


.sidebar div:hover{
     font-size: 150%;

     img{
        width: 15%;
        height: 70%;
     }
}

.menuu:hover
{
    .submenu{
        display: block;
    }
}

.news:hover{
    #sn{
        display: block;
    }
}

.branches:hover{
    #sb{
        display: block;
    }
}



                                                   /*        b2        */
.b2{
    width: 100%;
    margin: 0px;
    padding: 0px;
    height:65%;
    background-color: rgb(255, 255, 255);
    display: block;

    h1{
        text-align: center;
        font-size: 250%;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin-top:2%;
        font-weight: 100;
    }
}

.places{
    width: 100%;
    height: 80%;
    margin: 0px;
    padding: 0px;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;

}

.places div{
        width: 63%;
        height: 65%;
        margin: 0px;
        padding: 0px;
        background-color:transparent;
        display: block;
        text-align: center;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

        img{
            width: 79%;
            height: 93%;
            border-radius: 100%;
        }

}

                                           /*     b3    */

.b3{
    width: 100%;
    height: 50%;
    margin: 0px;
    padding: 0px;
    background-color: rgba(93, 93, 93, 0.1);
    text-align: center;
    font-size: 130%;
    padding-right: 15%;

    h2{
        padding-top: 3%;
        padding-bottom: 3%;
        
    }
}

.b4{
    width: 100%;
    height: 65%;
    margin: 0px;
    padding: 0px;
    background-color: rgba(238, 255, 0, 0.1);
    display: flex;
    justify-content:flex-start;

    .b41{
        width: 50%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        background-color: aqua;

        img{
            width:100%;
            height: 100%;
        }
    }

    .b42{
        width: 50%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        background-color: rgb(145, 255, 0,0.4);
        background-color: rgb(255, 68, 0);
        display: flex;
        justify-content: center;
        align-items: center;

        h1{
            font-size: 350%;
        }
    }
}


.last{
    width: 100%;
    height: 60%;
    background-color: white;
    margin: 0px;
    padding: 0px;
    display: block;

    h1{
        font-weight: bold;
        padding-left: 4%;
        padding-bottom: 0px;
        margin-bottom: 4%;
        margin-top: 6%;
    }

    .last1{
        width: 90%;
        height: 70%;
        display: flex;
        white-space: nowrap;
        justify-content:flex-start;
        align-items: center;
        overflow-x: scroll;
        overflow-y: hidden;
        margin:auto;
        z-index: 0;
       
        img{
            margin: 1.5%;
            transition: transform 0.4s; 
            z-index: 1;
             
        }

        img:hover{
            transform: scale(1.08);
            }

    }
}

.last1>img{
    animation: slide 120s linear infinite ;
}

@keyframes slide{
  

    0%{
        transform: translateX(calc(-3000px));
    }
}

.l{
    width: 100%;
    height: 60%;
    margin-top: 0px;
    margin-bottom: 7%;

    P{
    text-align: center; font-family: fantasy; font-size: 150%;

    }
}

footer{
    width: 100%;
    height: 40%;
    margin: 0px;
    padding: 0px;
    margin-top: 0px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: rgb(255, 255, 255);
    background-color: rgb(202, 54, 0);
    font-size: 130%;
}

video{
    margin-top: 0px;
    margin-bottom: 0px;
    height: 100%;
    width: 100%;
}


.right{
    width: 100%;
    height: 100%;
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submenu, .subnews, .subbranches{
    width: 50%;
    height: 40%;
    margin: auto;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 23%;
    left: 40%;
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.submenu{
    display: none;
}

.subnews{
    display: none;
}

.subbranches{
    display: none;

    button{
        float: right;
        background-color: transparent;
        border: 0px;

        img{
            float: right;
            width:35px;
            height:35px; 
        }
    }
}


.callus1, .callus2, .callus3{
    width: 30%;
    height: 60%;
    display: flex;
    align-items:center;
    justify-content: center;
    background-color:transparent;
    font-size: 70%;
    text-align: left;
    display: block;
}

.callus2, .callus3{
    border-left: 0.1px solid rgb(255, 255, 255);
    padding-left: 1%;
}

.c3{
    width: 30%;
    height: 60%;
    background-color:transparent;
    margin-left: 0.3%;
    margin-top: 1% ;
    display: flex;
    flex-direction: row;

    img{
        width: 25%;
        height: 25%;
        margin-right: 5%;
    }
}


.b5
{
    width: 100%;
    height: 15%;
    background-color: transparent;
    display: flex;
    justify-content:space-evenly;
    align-items: center;


}

.b5 div{
     width: 30%;
        height: 25%;
        background-color: rgba(0, 0, 0, 0.08);
        border-radius: 20px;
}


