@media only screen and (max-width: 1024px) {
    .topicon{
       font-size: 170%;
       img{
           width:65px;
           height: 70px;
       }
    }
    .mu{
       width:60px ;
       height:55px ;
    }
    .topnav{
           font-size: 95%;
    }

    ul{
       position:relative;
       top: 6%;
      }
 }

 @media only screen and (max-width: 900px) {
   .topicon{
      font-size: 160%;
      img{
          width:60px;
          height: 65px;
      }
   }
   .mu{
      width:55px ;
      height:50px ;
   }
   .topnav{
          font-size: 90%;
   }

   ul{
       position:relative;
       top: 12%;
      }

      a{
       margin: 3%;
      }
   
}

@media only screen and (max-width: 845px) {
   .topicon{
      font-size: 155%;
      img{
          width:60px;
          height: 55px;
      }
   }
 
   .topnav{
          font-size: 85%;
   }
}

@media only screen and (max-width: 845px) {
   .topicon{
      font-size: 150%;
      img{
          width:55px;
          height: 60px;
      }
   }
   .mu{
      width:54px ;
      height:49px ;
      top: 2%;
   }
   .topnav{
          font-size: 80%;
   }
}

@media only screen and (max-width: 755px) {
   .topicon{
      font-size: 140%;
      img{
          width:52px;
          height: 58px;
      }
   }
   .mu{
      width:53px ;
      height:48px ;
      top: 2.1%;
   }

  .topnav{
   ul{
       display: none;
   }
  }

 
}

@media only screen and (max-width: 450px) {
   .topicon{
      font-size: 135%;
      img{
          width:48px;
          height: 53px;
      }
   }
   .mu{
      width:53px ;
      height:48px ;
      top: 2.1%;
   }

   #home{
       background-color: white;
   }

   .topicon{
       float: right;
   }

 
}